<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="edu.cnm.deepdive.hexed0x29a">
  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:label="@string/app_name"
      android:name=".activities.TitleScreen"
      android:screenOrientation="landscape">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activities.NewGame"
      android:screenOrientation="landscape" />
    <activity
      android:label="@string/options_screen"
      android:name=".activities.Options"
      android:screenOrientation="landscape" />
    <activity
      android:label="@string/credits_screen"
      android:name=".activities.Credits"
      android:screenOrientation="landscape" />
    <activity
      android:label="@string/pause_screen"
      android:name=".activities.Pause"
      android:screenOrientation="landscape" />
    <activity
      android:name=".activities.AndroidDatabaseManager"
      android:theme="@style/Theme.AppCompat.Light" />
    <activity android:name=".activities.TestActivity" />
    <activity android:name=".activities.DataEntryActivity" />
  </application>

</manifest>